.App {
    text-align: center;
    flex-wrap: wrap;
}
.Control {
    background-color: red;
    display:flex;
    
}
.PlayButton {
    background-color:green;
    padding-left: 10px;
    padding-right: 10px;
}

.Winner {
    background-color: gold;
    display:flex;
    padding: 10px;
}

.SantMoveBlue {

    padding: 10px;
    background-color: blue;
}
.SantMoveRed {

    padding: 10px;
    background-color: red;
}
